@import "tailwindcss";



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-fadeIn { animation: fadeIn .25s ease-out; }
.animate-slideUp { animation: slideUp .25s ease-out; }

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3.5s ease-in-out infinite;
}
